<div class="row">
  <div class="col s12 title offset-s1">
      <h3>Adicionar novo livro</h3>
  </div>
  <div class="col s12 offset-s1">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="titulo" type="text" class="validate">
            <label for="titulo">Titulo do livro</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="autor" type="text" class="validate">
            <label for="autor">Autor do livro</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="editora" type="text" class="validate">
            <label for="editora">Editora do livro</label>
          </div>
          <div class="input-field col s1">
            <input id="ano" type="text" class="validate">
            <label for="ano">Ano</label>
          </div>
          <div class="input-field col s1">
            <input id="isbn" type="text" class="validate">
            <label for="isbn">ISBN</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <textarea id="critica" class="materialize-textarea"></textarea>
            <label for="critica">Criticas...</label>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col s4"></div>
        <button class="btn waves-effect waves-light" type="button" id="adicionarButton" name="action">Adicionar
          <i class="material-icons right">send</i>
        </button>
      </div>
  </div>
</div>