<!-- @author ctola-->
<div class="row">
    <div class="col s12 title offset-s1">
        <h3>Cadastro de Livros com MaterialDesign</h3>
    </div>
    <div class="col s6 offset-s1">
        <div class="card col s12">
            <ul class="collection">
                <li class="collection-item livro" ng-repeat="item in vm.books">
                    <span class="tituloLivro">{{item.Titulo}}</span>
                    <p>Autor: {{item.Autor}}<br>Ano: {{item.Ano}}<br>Editora: {{item.Editora}}<br>ISBN: {{item.ISBN}}<br>Critica: {{item.Critica}}
                        <a class="secondary-content"><i class="material-icons">grade</i></a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>